!!! XML
%html
  %head
    %title #{@title}/#{@name}
    %script{:type => 'text/javascript', :src => "#{app_root}/js/jquery.js"}
    %script{:type => 'text/javascript', :src => "#{app_root}/js/jquery.caret.min.js"}
    %script{:type => 'text/javascript', :src => "#{app_root}/js/jquery.color.js"}
    %script{:type => 'text/javascript', :src => "#{app_root}/js/util.js"}
    %script{:type => 'text/javascript', :src => "#{app_root}/js/edit.js"}
    :javascript
      var app_root = "#{app_root}"
    %link{:rel => 'stylesheet', :href => "#{app_root}/css/fonts-3.1.1.css"}
    %link{:rel => 'stylesheet', :href => "#{app_root}/css/reset-3.1.1.css"}
    %link{:rel => 'stylesheet', :href => "#{app_root}/css/edit.css"}
  %body
    %h1 #{@title}/#{@name}
    %div#edit
