!!! XML
%html
  %head
    %title #{@title}/#{@name}
    %script{:type => 'text/javascript', :src => "#{app_root}/js/jquery.js"}
    %script{:type => 'text/javascript', :src => "#{app_root}/js/edit.js"}
  %body
    %h1 #{@title}/#{@name}
    %div#main
      %ul#edit
