!!! XML
%html
  %head
    %title #{@title}/#{@name}
    %script{:type => 'text/javascript', :src => "#{app_root}/js/jquery.js"}
    %script{:type => 'text/javascript', :src => "#{app_root}/js/jquery.caret.min.js"}
    %script{:type => 'text/javascript', :src => "#{app_root}/js/jquery.color.js"}
    %script{:type => 'text/javascript', :src => "#{app_root}/js/util.js"}
    %script{:type => 'text/javascript', :src => "#{app_root}/js/edit.js"}
    :javascript
      var app_root = "#{app_root}"
    %link{:rel => 'stylesheet', :href => "#{app_root}/css/fonts-3.1.1.css", :type => 'text/css'}
    %link{:rel => 'stylesheet', :href => "#{app_root}/css/reset-3.1.1.css", :type => 'text/css'}
    %link{:rel => 'stylesheet', :href => "#{app_root}/css/edit.css", :type => 'text/css'}
  %body
    %div.container
      %div.head
        %h1 #{@title}/#{@name}
      %div.main
        %div#edit
      %div.push
      %div#status
    %div.footer
      %a{:href => 'http://github.com/shokai/gyaaazz'}
        github.com/shokai/gyaaazz

